html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
}

aside {
  box-sizing: border-box;
  width: 340px;
  height: 100%;
  text-align: left;
  background: #fff;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
  background-color: #003D6B;
  color: #A9DAFF;

  position: absolute;
  -webkit-transform: translate(-340px, 0);
  transform: (-340px, 0);
  transition: transform 0.3s ease;
}

.list-container-open {
  -webkit-transform: translate(0, 0);
  transform: (0, 0);
  z-index: 99;
}

#map-container {
  width: 100%;
  height: 100%;
}

#hamburger {
  position: absolute;
  z-index: 99;
  left: 10px;
  top: 45px;
  width: 40px;
  fill: #003D6B;
}

.hide-hamburger {
  display: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.list-item {
  text-align: left;
  list-style: none;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

.list-item:hover {
  background-color: #004f8c;
}

.attribution {
  font-size: 12px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .container {
    display: flex;
    flex-flow: row nowrap;
  }

  #list-container {
    position: relative;
    -webkit-transform: translate(0, 0);
    transform: translate (0,0);
  }

  #map-container {
    width: auto;
    flex-grow: 1;
  }

  #hamburger {
    display: none;
  }
}
