html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  height: 100%;
}

.list-container {
  width: 340px;
  height: 100%;
}

#map {
  bottom: 0px;
  height: 100%;
  left: 350px;
  right: 0px;
  position: absolute;
}
